﻿@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    Upload:
    <form method="POST" id="droppy" enctype="multipart/form-data" class="dropzone" action="/api/upload/UploadFile"></form>
</div>
